<!DOCTYPE html>
<html ng-app="comicApp"> 
<head>
  <title>comic reading list</title>
  <meta charset="utf8" />

  <!-- Stylesheets -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="main.css" />

  <!-- JQuery -->

  <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

  <!-- Bootstrap -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Angular -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
  <script src="app.js"></script>
</head>

<body data-ng-controller="ComicController as cc">

    <h2>
      <ng-pluralize count="cc.comicList.length" when="{'0': 'No comics', 
                           '1': 'A comic ', 
                           'other': '{{amount | number:2}} Comics '}">
      </ng-pluralize>
    I should read</h2>


  <h4>I have {{cc.comicList.length}} comics to read</h4>

 
  <form ng-submit="submit()" ng-controller="ComicController">
    If there is a comic you think I should add, please add it to the list!
    <br>
    Name: <input type="text" ng-model="cc.comic.name" /><br>
    Type: <input type="text" ng-model="cc.comic.type" /><br>
    Recomender: <input type="text" ng-model="cc.comic.recommender" /><br>
    Rating: <input type="number" ng-model="cc.comic.rating" /><br>

    <input type="submit" id="submit" value="Submit" /><br>
  </form>
  

  <div data-ng-repeat="comic in cc.comicList | orderBy:'-rating'" >
    <p>Name: {{comic.name}}</p>
    <p>Type: {{comic.type}}</p>
    <p>According to: {{comic.recommender}}</p>
    <p>Rating: {{comic.rating}}</p>
    <br>
  </div>


</body>
</html>